
  @import url('https://fonts.googleapis.com/css2?family=New+Rocker&family=Rowdies:wght@300&display=swap');
body{
    margin: auto;
    justify-content: center;
    /* overflow-x: hidden; */
    margin-bottom: 0;
    background-color: black;
    /* overflow: hidden; */
    overflow-x: hidden;
}
/* SUPER-CAR BACKGROUND COMMENT */
.backimg{
    margin-top: 20vh;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    object-fit: cover;
    z-index: 3;
}
.backimg001{
    margin-top: 20vh;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    object-fit: cover;
    z-index: 3;
    margin-top: -55vh;
}
/* CONTAINER OF HEADER BAR COMMENT */
.container_header{
    margin: auto;
    justify-content: center;
    display: flex;
    
}
header{
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* margin-top: 30px; */
    padding-top: 20px;

}
.container{
    display: flex;
}
.bold{
    height: 10px;
    width: 10px;
    margin-top: -5px;
    border-radius: 50%;
    margin-left: 50px;
    margin-right: 10px;
    transition-duration: 600ms;
}
.bold:hover{
    transform: rotate(60deg);
}
.userName{
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* //TODO:CONTAINER CONTECT ICON FOR CLIENT */
.container_contact{
    height: 20vh;
    margin-top: -35vh;
    margin-left: 30px;
    width: 20px;
    display: block;
    z-index: 5;
    position: relative;
    float: left;
    text-align: center;
}
.container_contact01{
    height: 20vh;
    margin-top: -35vh;
    margin-right: 30px;
    width: 20px;
    display: block;
    z-index: 6;
    position: relative;
    float: right;
    text-align: center;
    justify-content: center;
    /* background-color: #831269; */
}
.container_contact i{
    margin-bottom: 10px;
    color: white;
    font-size: 10px;
}
.container_contact01 i{
    margin-bottom: 10px;
    color: white;
    font-size: 10px;
}
#stack{
    margin-bottom: 10px;
    color: orange;
    font-size: 14px;
    margin-left: 1px;
}
/* NAVBAR ANIMATION + TEXT + HOVER + BEFORE COMMENT */

.navBar{
    color: wheat;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-right: 3vw;
    font-size:.6vw;
    padding-right: 2vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    text-decoration: none;
    color: white;
    /* background-color: #0092cc; */
    
}
a .navBar:hover:before {
    transform-origin: left;
    transform: scaleX(1);
}
a .navBar:before {
    content: '';
    position: absolute;
    width: 130%;
    margin-left: -4px;
    height: 1px;
    margin-bottom: -7px;
    border-radius: 3px;
    background-color: #ffffff;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }



.avatar{
    margin: auto;
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 50%;
}
.container_leftBar{
    margin: 0;
    display: flex;
    justify-content: right;
}
/* GLASS */

.container_glass{
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 50px;
    
}
.container_glass:hover .glass{
    filter: blur(.7px);
    opacity: 70%;

}
.container_glass .glass:hover{
    filter: blur(0px);
    opacity: 100%;
    transform: scale(.95);
}
.glass{
    color: #ffffff;
    height: 250px;
    margin-top: 10vh;
    width: 170px;
    background-color: blue;
    /* margin-top: 100vh; */



/* From https://css.glass */
background: rgba(255, 255, 255, 0.07);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.3px);
-webkit-backdrop-filter: blur(2.3px);
border: 1px solid rgba(255, 255, 255, 0.42);

padding: 20px;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif    ;
cursor: pointer;
text-align: justify;
transition-duration: 200ms;

}
/* HEADER 2023 */
.header2023{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
    text-decoration-style: double;
    padding-bottom: 10px;
    text-align: center;
    /* display: flex; */
}


/* SNAP WEB PAGE  */


main{
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow: scroll;
    display: block;
}
.sectionone{
    height: 90vh;
}
#sectiontwo{
    height: 80vh;
}
section{
    height: 100vh;
    
 
    scroll-snap-align:start;
}
 /* SNAP SCROLL TO BOTTOM COMMENT */

.scroll{
    height: 40px;
    width: 40px;
    margin: auto;
    background-color: #ffffff;
    justify-content: center;
    margin-top: -20px;
    z-index: 2;
    position: relative;
    opacity: 0%;
    cursor: pointer;
}

/* TEXT ANIMATION COMMENT */


/* TAGE  */
.tagABOUTME{
    color: #ffffff;
    margin: auto;
    text-align: center;
    position: relative;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.portfolio2023{
    color: #ffffff;
    margin: auto;
    text-align: center;
    position: relative;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* ACADEMICS YEARS SKILL  */
#navnav{
	/* background-color:#ba2323; */
	padding:10px 30px;
	position:relative;
	font-family: 'Open Sans', sans-serif;
	font-size:8px;
	text-decoration:none;
	color:#fff;
	border: solid 2px #831269;
	background-image: linear-gradient(bottom, rgb(171,27,27) 0%, rgb(212,51,51) 100%);
	border-radius: 20px;
    margin-top: -10px;
    cursor: pointer;
    margin-right: 50px;
    transition-duration: 500ms;
    transition-delay: 100ms;

}
#navnav:hover{
    background-color: #831269;
}

#navnav:active {
	padding-bottom:9px;
	padding-left:10px;
	padding-right:10px;
	padding-top:11px;
	top:1px;
	background-image: linear-gradient(bottom, rgb(171,27,27) 100%, rgb(212,51,51) 0%);
}

/* EMOJIS SMILE :) */
span img{
    margin: auto;
    display: flex;
    position: relative;
    cursor: pointer;
    height: 50px;
    margin-top:-50px ;
    margin-right: -50px;
    width: 50px;
    float: right;
}
.tagABOUTME span:hover{
    /* color: #831269; */
    transform: rotate(90deg);
}
/* SUPER TOP SKILL THESE I HAVE */
.container_topskill{
    /* background-color: white; */
    height: 30vh;
    width: 100vw;
    margin-top: 20vh;
    display: block;
    padding-top: 5vh;
}
.container_project_info{
    margin: auto;
    display: block;
    text-align: center;
    justify-content: center;
    width: 50vw;
    /* text-align: justify; */
}
.project_title{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: double;
    font-size: x-large;
    color: orange;
    margin-bottom: 15px;
}
.project-text{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
}
.unit_top{
    justify-content: center;
    width: 70vw;
    display: grid;
    display: flex;
    gap: 200px;
    margin: auto;
    margin-top: 30px;
}
.top1{
    color: white;
    border-radius: 100px;
    border-color: #831269;
    border-width: 1px;
    width: 150px;
    text-align: center;
    border: 5px;
    padding: 5px;
    border: solid 2px #831269;
    padding-top: 10px;
    background-color: rgb(8, 5, 49);
    transition: 800ms;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
}
.top1:hover{
    background-color: #ba1753;
    color: orange;
}
/* //TODO: STORE PROJECTS IMAGE  */
.line-through{
    width: 80vw;
    justify-content: center;
    margin: auto;
    height: 1px;
    margin-top: 30px;
    background-color: #0092cc;
}
.container_projects{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80vw;
    padding: 20px;
    padding-right: 0px;
    border-radius: 20px;
    justify-content: center;
    /* display: flex; */
    gap: 30px;
    margin-top: 20px;
    /* background-color: #0092cc; */
}
.container_projects img{
    height: 15vw;
    width: 23vw;
    border-radius: 20px;
}
.icon_project01{
    height: 15vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:100px ;
    color: rgb(91, 45, 219);
    margin: auto;
    /* text-align: center; */
    width: 23vw;
    text-align: center;
    border-radius: 20px;
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.23);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(1.4px);
-webkit-backdrop-filter: blur(1.4px);
border: 1px solid rgba(255, 255, 255, 0.59);
}





.card {
    width: 190px;
    height: 90px;
    background: #ffff;
    box-shadow: 0 1px 25px rgba(0,0,0,0.2);
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 12px 10px;
    border-radius: 10px;
  }
  
  .card_load {
    width: 70px;
    height: 70px;
    position: relative;
    float: left;
    background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 
    40%, #e5e5e5 48%);
    border-radius: 50%;
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load89234 2s infinite;
  }
  
  .card_load_extreme_title {
    width: 90px;
    height: 10px;
    position: relative;
    float: right;
    border-radius: 5px;
    background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 
    40%, #e5e5e5 48%);
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load89234 2s infinite;
  }
  
  .card_load_extreme_descripion {
    width: 90px;
    height: 47px;
    position: relative;
    float: right;
    border-radius: 5px;
    background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 
    40%, #e5e5e5 48%);
    margin-top: 10px;
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load89234 2s infinite;
  }
  
  @keyframes load89234 {
    100% {
      background-position: -100% 0;
    }
  }

/* //TODO:RESPONSIVE WEBSITE RUN ON MOBILE PHONE */

@media screen and (max-width:500px){
    body{
        margin: auto;
        justify-content: center;
        /* overflow-x: hidden; */
        margin-bottom: 0;
        background-color: black;
        /* overflow-y: visible; */
        overflow-x: hidden;
    }
    /* SUPER-CAR BACKGROUND COMMENT */
    .backimg{
        margin-top: 20vh;
        margin: auto;
        width: 100%;
        display: flex;
        object-fit: cover;
        justify-content: center;
        z-index: 3;
    }
    .backimg001{
        margin-top: 20vh;
        width: 100%;
        /* display: block; */
        /* object-fit: cover; */
        /* position: relative; */
        z-index: 2;
        margin-top: -120px;
    }
    /* CONTAINER OF HEADER BAR COMMENT */
    .container_header{
        margin: auto;
        justify-content: center;
        display: flex;
        
    }
    header{
        margin: auto;
        display: block;
        /* justify-content: space-between; */
        /* margin-top: 30px; */
        padding-top: 20px;
    
    }
    .container{
        display: flex;
        position: relative;
        justify-content: center;
        margin-right: 10vw;
    }
    .bold{
        /* background-color: hotpink; */
        height: 10px;
        width: 10px;
        margin-top: -5px;
        border-radius: 50%;
        /* margin-right: 10px; */
        transition-duration: 600ms;
    }
    .bold:hover{
        transform: rotate(60deg);
    }
    .userName{
        color: aliceblue;
        font-family: 'New Rocker', cursive;
        font-family: 'Rowdies', cursive;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    /* NAVBAR ANIMATION + TEXT + HOVER + BEFORE COMMENT */
    /* //TODO: NAV BAR  */
    .navBar{
        /* background-color:#ba2323; */
        padding:8px;
        position:relative;
        font-family: 'Open Sans', sans-serif;
        font-size:7px;
        text-align: center;
        text-decoration:none;
        width: 10vw;
        height: 8px;
        color:#fff;
        border: solid 2px #831269;
        background-image: linear-gradient(bottom, rgb(171,27,27) 0%, rgb(212,51,51) 100%);
        border-radius: 20px;
        margin-top: -10px;
        cursor: pointer;
        margin-right: 5px;
        transition-duration: 500ms;
        transition-delay: 100ms;
    
    }
    .navBar::before{
        display: none;
    }
    .navBar:hover{
        background-color: #831269;
    }
    
    .navBar:active {
        padding-bottom:9px;
        padding-left:10px;
        padding-right:10px;
        padding-top:11px;
        top:1px;
        background-image: linear-gradient(bottom, rgb(171,27,27) 100%, rgb(212,51,51) 0%);
    }
    /* //TODO: ACADEMICS YEARS SKILL  */
    /* ACADEMICS YEARS SKILL  */
    #navnav{
        padding:8px;
        position:relative;
        font-family: 'Open Sans', sans-serif;
        font-size:7px;
        text-align: center;
        text-decoration:none;
        width: 10vw;
        height: 8px;
        color:#fff;
        border: solid 2px #831269;
        background-image: linear-gradient(bottom, rgb(171,27,27) 0%, rgb(212,51,51) 100%);
        border-radius: 20px;
        margin-top: -10px;
        cursor: pointer;
        margin-right: 0px;
        transition-duration: 500ms;
        transition-delay: 100ms;
    
    }
    /* //TODO:CONTAINER CONTECT ICON FOR CLIENT */
.container_contact{
    height: 20vh;
    margin-top: -24vh;
    margin-left: 10px;
    width: 20px;
    display: grid;
    z-index: 5;
    position: relative;
    float: left;
    text-align: center;
}
.container_contact01{
    height: 20vh;
    margin-top: -24vh;
    margin-right: 10px;
    width: 20px;
    display: grid;
    z-index: 6;
    position: relative;
    float: right;
    text-align: center;
    justify-content: center;
    /* background-color: #831269; */
}
.container_contact i{
    margin-bottom: 5px;
    color: white;
    font-size: 7px;
}
.container_contact01 i{
    margin-bottom: 5px;
    color: white;
    font-size: 7px;
}
#stack{
    margin-bottom: 10px;
    color: orange;
    font-size: 12px;
    margin-left: 1px;
}
/* //TODO:HOVER NAVNAV BACKGROUND IMAGE */
    #navnav:hover{
        background-color: #831269;
    }
    
    #navnav:active {
        padding-bottom:9px;
        padding-left:10px;
        padding-right:10px;
        padding-top:11px;
        top:1px;
        background-image: linear-gradient(bottom, rgb(171,27,27) 100%, rgb(212,51,51) 0%);
    }
    
    
    .avatar{
        margin: auto;
        height: 60px;
        width: 60px;
        object-fit: cover;
        border-radius: 50%;
    }
    .container_leftBar{
        margin-top: 3vh;
        display: flex;
        justify-content: center;
    }
    /* //TODO: GLASS CARD  */
    
    .container_glass{
        margin: auto;
        display: grid;
        gap: 20px;
        row-gap: 80px;
        width: 80%;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 90px;
        z-index: 5;
        
    }
    .container_glass:hover .glass{
        filter: blur(0px);
        opacity: 100%;
        /* display:none; */
    
    }
    .container_glass .glass:hover{
        filter: blur(0px);
        opacity: 100%;
        transform: scale(1);
        /* display: none; */
    }
    .glass{
        color: #ffffff;
        height: 130px;
        margin-top: 10vh;
        width: 120px;
        justify-self: center;
        background-color: blue;
        /* margin-top: 100vh; */
    
    
    
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.07);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.3px);
    -webkit-backdrop-filter: blur(2.3px);
    border: 1px solid rgba(255, 255, 255, 0.42);
    
    padding: 4px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif    ;
    cursor: pointer;
    text-align: justify;
    transition-duration: 0ms;
    
    }
    .topic{
        font-size: 10px;
    }
    /* HEADER 2023 */
    .header2023{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-decoration: underline;
        text-decoration-style: double;
        padding-bottom: 4px;
        text-align: center;
        font-size: 6px;
        /* display: flex; */
    }
    
    
    /* SNAP WEB PAGE  */
    
    
    main{
        height: 100vh;
        scroll-snap-type:none;
        overflow: scroll;
    }
    .sectionone{
        height: 30vh;
    }
    #sectiontwo{
        height: 30vh;
    }
    section{
        height: 70vh;
        
     
        scroll-snap-align:center;
    }
     /* SNAP SCROLL TO BOTTOM COMMENT */
    
    .scroll{
        height: 40px;
        width: 40px;
        margin: auto;
        background-color: #ffffff;
        justify-content: center;
        margin-top: -20px;
        z-index: 2;
        position: relative;
        opacity: 0%;
        cursor: pointer;
    }
    
    /* TEXT ANIMATION COMMENT */
    
    
    /* TAGE  */
    .tagABOUTME{
        color: #ffffff;
        margin: auto;
        margin-top: 10vh;
        text-align: center;
        position: relative;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    }
    
    .portfolio2023{
        color: #ffffff;
        margin: auto;
        text-align: center;
        position: relative;
        display: none;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    
    
    /* EMOJIS SMILE :) */
    span img{
        margin: auto;
        display: flex;
        position: relative;
        cursor: pointer;
        height: 20px;
        margin-top:-12px ;
        margin-right: -12px;
        width: 20px;
        float: right;
    }
    .tagABOUTME span:hover{
        /* color: #831269; */
        transform: rotate(90deg);
    }

/* SUPER TOP SKILL THESE I HAVE */
.container_topskill{
    /* background-color: white; */
    height: 30vh;
    width: 100vw;
    margin-top: 20vh;
    display: block;
    padding-top: 10vh;
}
.container_project_info{
    margin: auto;
    display: block;
    text-align: center;
    justify-content: center;
    width: 80vw;
    /* text-align: justify; */
}
.project_title{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: double;
    font-size: x-large;
    color: orange;
    margin-bottom: 15px;
}
.project-text{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
}
.unit_top{
    justify-content: center;
    width: 70vw;
    display: grid;
    display: flex;
    gap: 10px;
    margin: auto;
    margin-top: 30px;
}
.top1{
    color: white;
    border-radius: 100px;
    border-color: #831269;
    border-width: 1px;
    width: 150px;
    text-align: center;
    border: 5px;
    padding: 3px;
    border: solid 1px #831269;
    padding-top: 5px;
    background-color: rgb(8, 5, 49);
    transition: 800ms;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:10px;
}
.top1:hover{
    background-color: #ba1753;
    color: orange;
}
/* //TODO: STORE PROJECTS IMAGE  */
.line-through{
    width: 80vw;
    justify-content: center;
    margin: auto;
    height: 1px;
    margin-top: 30px;
    background-color: #0092cc;
}
.container_projects{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80vw;
    padding: 20px;
    /* padding-right: 0px; */
    border-radius: 20px;
    justify-content: center;
    /* display: flex; */
    gap: 30px;
    margin-top: 20px;
    /* background-color: #0092cc; */
}
.container_projects img{
    height: 30vw;
    width: 40vw;
    object-fit: cover;
    border-radius: 10px;
}
.icon_project01{
    height: 30vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:67px ;
    color: rgb(114, 114, 114);
    margin: auto;
    /* text-align: center; */
    width: 40vw;
    text-align: center;
    border-radius: 10px;

position: relative;
float: left;
background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 
40%, #e5e5e5 48%);
background-size: 200% 100%;
background-position: 100% 0;
animation: load89234 2s infinite;
/* background: white; */
}
}
